## Análise estatística de dados do ENEM 2019 - Estado de São Paulo
Dados extraídos do INEP

In [3]:
import numpy as np
import pandas as pd

In [4]:
data = pd.read_csv('../assets/microdados_enem_2019_sp.csv', sep=';', encoding='iso-8859-1') # normalmente é essa, utf-8 ou latin-1

#### Extração e limpeza

In [5]:
data.head(n=10)

,NU_INSCRICAO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,...,NU_NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q025
0,"1,90E+11",3546801,Santa Isabel,35,SP,22,M,1,3,1,...,6002.0,0,1.0,160.0,200.0,180.0,200.0,200.0,940.0,B
1,"1,90E+11",3538204,Pinhalzinho,35,SP,19,M,1,3,1,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A
2,"1,90E+11",3550308,São Paulo,35,SP,17,F,1,3,1,...,7318.0,0,1.0,160.0,120.0,200.0,200.0,200.0,880.0,A
3,"1,90E+11",3548708,São Bernardo do Campo,35,SP,19,M,1,3,1,...,3932.0,1,1.0,80.0,160.0,120.0,100.0,100.0,560.0,B
4,"1,90E+11",3549409,São Joaquim da Barra,35,SP,37,M,2,1,1,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B
5,"1,90E+11",3515103,Embu-Guaçu,35,SP,17,F,1,3,1,...,4192.0,0,1.0,120.0,120.0,120.0,120.0,80.0,560.0,B
6,"1,90E+11",3549904,São José dos Campos,35,SP,28,F,1,1,1,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A
7,"1,90E+11",3549904,São José dos Campos,35,SP,25,F,2,1,1,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B
8,"1,90E+11",3518800,Guarulhos,35,SP,23,F,1,1,1,...,7961.0,0,1.0,160.0,200.0,180.0,180.0,160.0,880.0,B
9,"1,90E+11",3550308,São Paulo,35,SP,19,F,1,3,1,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B

In [6]:
# numero total de inscritos em SP foi de 813772, sendo 15,97% de todo o Brasil
data.shape

(813772, 44)

In [7]:
# analise dos tipos de cada coluna
data.dtypes

NU_INSCRICAO                object
CO_MUNICIPIO_RESIDENCIA      int64
NO_MUNICIPIO_RESIDENCIA     object
CO_UF_RESIDENCIA             int64
SG_UF_RESIDENCIA            object
NU_IDADE                     int64
TP_SEXO                     object
TP_ESTADO_CIVIL              int64
TP_COR_RACA                  int64
TP_NACIONALIDADE             int64
CO_MUNICIPIO_NASCIMENTO    float64
NO_MUNICIPIO_NASCIMENTO     object
CO_UF_NASCIMENTO           float64
SG_UF_NASCIMENTO            object
TP_ST_CONCLUSAO              int64
TP_ANO_CONCLUIU              int64
TP_ESCOLA                    int64
TP_ENSINO                  float64
IN_TREINEIRO                 int64
CO_ESCOLA                  float64
CO_MUNICIPIO_ESC           float64
NO_MUNICIPIO_ESC            object
CO_UF_ESC                  float64
SG_UF_ESC                   object
TP_DEPENDENCIA_ADM_ESC     float64
TP_LOCALIZACAO_ESC         float64
TP_SIT_FUNC_ESC            float64
TP_PRESENCA_CN               int64
TP_PRESENCA_CH               int64
TP_PRESENCA_LC               int64
TP_PRESENCA_MT               int64
NU_NOTA_CN                 float64
NU_NOTA_CH                 float64
NU_NOTA_LC                 float64
NU_NOTA_MT                 float64
TP_LINGUA                    int64
TP_STATUS_REDACAO          float64
NU_NOTA_COMP1              float64
NU_NOTA_COMP2              float64
NU_NOTA_COMP3              float64
NU_NOTA_COMP4              float64
NU_NOTA_COMP5              float64
NU_NOTA_REDACAO            float64
Q025                        object
dtype: object

In [ ]:
# eliminando coluna
dados1 = data.drop(columns=['CO_MUNICIPIO_RESIDENCIA'])
# de 44 para 43 colunas
dados1

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,CO_MUNICIPIO_NASCIMENTO,...,NU_NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q025
0,"1,90E+11",Santa Isabel,35,SP,22,M,1,3,1,1506500.0,...,6002.0,0,1.0,160.0,200.0,180.0,200.0,200.0,940.0,B
1,"1,90E+11",Pinhalzinho,35,SP,19,M,1,3,1,1503804.0,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A
2,"1,90E+11",São Paulo,35,SP,17,F,1,3,1,1501402.0,...,7318.0,0,1.0,160.0,120.0,200.0,200.0,200.0,880.0,A
3,"1,90E+11",São Bernardo do Campo,35,SP,19,M,1,3,1,3548708.0,...,3932.0,1,1.0,80.0,160.0,120.0,100.0,100.0,560.0,B
4,"1,90E+11",São Joaquim da Barra,35,SP,37,M,2,1,1,3549409.0,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
813767,"1,90E+11",São Paulo,35,SP,17,F,1,2,1,3550308.0,...,432.0,1,1.0,80.0,120.0,140.0,120.0,100.0,560.0,B
813768,"1,90E+11",São Paulo,35,SP,17,F,1,3,1,3550308.0,...,4873.0,0,1.0,120.0,80.0,60.0,120.0,0.0,380.0,B
813769,"1,90E+11",São Paulo,35,SP,17,M,1,3,1,3550308.0,...,4011.0,0,1.0,160.0,120.0,160.0,140.0,160.0,740.0,A
813770,"1,90E+11",Cajamar,35,SP,21,F,1,3,1,3550308.0,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B
813771,"1,90E+11",Araras,35,SP,18,F,1,1,1,3503307.0,...,5595.0,0,1.0,120.0,120.0,120.0,120.0,140.0,620.0,B

In [11]:
dados1 = dados1.drop(columns=['CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA', 'CO_MUNICIPIO_NASCIMENTO'],)

In [12]:
dados1.head(30)

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,NO_MUNICIPIO_NASCIMENTO,CO_UF_NASCIMENTO,SG_UF_NASCIMENTO,...,NU_NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q025
0,"1,90E+11",Santa Isabel,22,M,1,3,1,Santa Izabel do Pará,15.0,PA,...,6002.0,0,1.0,160.0,200.0,180.0,200.0,200.0,940.0,B
1,"1,90E+11",Pinhalzinho,19,M,1,3,1,Jacundá,15.0,PA,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A
2,"1,90E+11",São Paulo,17,F,1,3,1,Belém,15.0,PA,...,7318.0,0,1.0,160.0,120.0,200.0,200.0,200.0,880.0,A
3,"1,90E+11",São Bernardo do Campo,19,M,1,3,1,São Bernardo do Campo,35.0,SP,...,3932.0,1,1.0,80.0,160.0,120.0,100.0,100.0,560.0,B
4,"1,90E+11",São Joaquim da Barra,37,M,2,1,1,São Joaquim da Barra,35.0,SP,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B
5,"1,90E+11",Embu-Guaçu,17,F,1,3,1,Itacoatiara,13.0,AM,...,4192.0,0,1.0,120.0,120.0,120.0,120.0,80.0,560.0,B
6,"1,90E+11",São José dos Campos,28,F,1,1,1,Manaus,13.0,AM,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A
7,"1,90E+11",São José dos Campos,25,F,2,1,1,São José dos Campos,35.0,SP,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B
8,"1,90E+11",Guarulhos,23,F,1,1,1,São Paulo,35.0,SP,...,7961.0,0,1.0,160.0,200.0,180.0,180.0,160.0,880.0,B
9,"1,90E+11",São Paulo,19,F,1,3,1,Belém,15.0,PA,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B
10,"1,90E+11",São José do Rio Preto,18,F,1,1,1,Belém,15.0,PA,...,6128.0,1,1.0,120.0,160.0,120.0,80.0,100.0,580.0,A
11,"1,90E+11",Sumaré,22,F,1,4,1,Ananindeua,15.0,PA,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B
12,"1,90E+11",Franca,32,M,1,3,1,Pratápolis,31.0,MG,...,5841.0,1,1.0,120.0,120.0,120.0,120.0,100.0,580.0,B
13,"1,90E+11",São Paulo,19,F,1,1,1,Belém,15.0,PA,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B
14,"1,90E+11",Bauru,18,M,1,3,1,Jaru,11.0,RO,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B
15,"1,90E+11",Santo André,20,F,1,3,1,Manaus,13.0,AM,...,5085.0,1,1.0,120.0,120.0,120.0,100.0,80.0,540.0,B
16,"1,90E+11",Campinas,20,F,1,4,1,Manaus,13.0,AM,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A
17,"1,90E+11",São Paulo,26,M,1,1,1,São Paulo,35.0,SP,...,6812.0,1,1.0,180.0,200.0,200.0,200.0,120.0,900.0,B
18,"1,90E+11",Santo André,44,F,2,3,1,Juruti,15.0,PA,...,4881.0,1,1.0,120.0,120.0,120.0,120.0,40.0,520.0,B
19,"1,90E+11",São Paulo,42,F,1,3,1,Rio Branco,12.0,AC,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B
20,"1,90E+11",Santos,15,F,1,3,1,Rio Branco,12.0,AC,...,5732.0,0,1.0,140.0,120.0,120.0,100.0,80.0,560.0,B
21,"1,90E+11",Panorama,16,F,1,3,1,Panorama,35.0,SP,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A
22,"1,90E+11",Jaguariúna,19,M,1,3,1,Rio Branco,12.0,AC,...,5055.0,0,1.0,160.0,120.0,120.0,100.0,0.0,500.0,A
23,"1,90E+11",São Paulo,17,F,1,3,1,Pedro II,22.0,PI,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A
24,"1,90E+11",São Bernardo do Campo,32,F,1,2,1,Caxias,21.0,MA,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A
25,"1,90E+11",Poá,57,M,2,1,1,Santo André,35.0,SP,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B
26,"1,90E+11",Carapicuíba,21,M,1,3,1,Araioses,21.0,MA,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A
27,"1,90E+11",Guará,17,F,1,3,1,Água Branca,22.0,PI,...,5351.0,0,1.0,140.0,120.0,140.0,160.0,120.0,680.0,B
28,"1,90E+11",Cajamar,17,F,1,2,1,Oeiras,22.0,PI,...,5107.0,1,1.0,120.0,180.0,120.0,120.0,120.0,660.0,B
29,"1,90E+11",São Paulo,50,F,1,1,1,Monção,21.0,MA,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A

In [13]:
dados1 = dados1.drop(columns=[
    'NO_MUNICIPIO_NASCIMENTO',
    'CO_UF_NASCIMENTO',
    'SG_UF_NASCIMENTO',
    'TP_ANO_CONCLUIU',
    'TP_ENSINO',
    'CO_MUNICIPIO_ESC',
    'CO_UF_ESC',
    'SG_UF_ESC',
    'TP_DEPENDENCIA_ADM_ESC',
    'TP_LOCALIZACAO_ESC',
    'TP_SIT_FUNC_ESC',
],)

In [14]:
dados1.head(20)

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ESCOLA,IN_TREINEIRO,...,NU_NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q025
0,"1,90E+11",Santa Isabel,22,M,1,3,1,1,1,0,...,6002.0,0,1.0,160.0,200.0,180.0,200.0,200.0,940.0,B
1,"1,90E+11",Pinhalzinho,19,M,1,3,1,1,1,0,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A
2,"1,90E+11",São Paulo,17,F,1,3,1,2,3,0,...,7318.0,0,1.0,160.0,120.0,200.0,200.0,200.0,880.0,A
3,"1,90E+11",São Bernardo do Campo,19,M,1,3,1,2,2,0,...,3932.0,1,1.0,80.0,160.0,120.0,100.0,100.0,560.0,B
4,"1,90E+11",São Joaquim da Barra,37,M,2,1,1,1,1,0,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B
5,"1,90E+11",Embu-Guaçu,17,F,1,3,1,2,2,0,...,4192.0,0,1.0,120.0,120.0,120.0,120.0,80.0,560.0,B
6,"1,90E+11",São José dos Campos,28,F,1,1,1,1,1,0,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A
7,"1,90E+11",São José dos Campos,25,F,2,1,1,1,1,0,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B
8,"1,90E+11",Guarulhos,23,F,1,1,1,1,1,0,...,7961.0,0,1.0,160.0,200.0,180.0,180.0,160.0,880.0,B
9,"1,90E+11",São Paulo,19,F,1,3,1,1,1,0,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B
10,"1,90E+11",São José do Rio Preto,18,F,1,1,1,2,2,0,...,6128.0,1,1.0,120.0,160.0,120.0,80.0,100.0,580.0,A
11,"1,90E+11",Sumaré,22,F,1,4,1,1,1,0,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B
12,"1,90E+11",Franca,32,M,1,3,1,1,1,0,...,5841.0,1,1.0,120.0,120.0,120.0,120.0,100.0,580.0,B
13,"1,90E+11",São Paulo,19,F,1,1,1,1,1,0,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B
14,"1,90E+11",Bauru,18,M,1,3,1,1,1,0,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B
15,"1,90E+11",Santo André,20,F,1,3,1,1,1,0,...,5085.0,1,1.0,120.0,120.0,120.0,100.0,80.0,540.0,B
16,"1,90E+11",Campinas,20,F,1,4,1,1,1,0,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A
17,"1,90E+11",São Paulo,26,M,1,1,1,1,1,0,...,6812.0,1,1.0,180.0,200.0,200.0,200.0,120.0,900.0,B
18,"1,90E+11",Santo André,44,F,2,3,1,1,1,0,...,4881.0,1,1.0,120.0,120.0,120.0,120.0,40.0,520.0,B
19,"1,90E+11",São Paulo,42,F,1,3,1,1,1,0,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B

In [15]:
dados1.shape

(813772, 29)